.place__image {
  grid-area: image;
  width: calc(100% - 40px);
  margin: 48px 0 0 0;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .place__image {
    width: calc(100% - 32px);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .place__image {
    width: calc(100% - 28px);
  }
}

@media (max-width: 768px) {
  .place__image {
    width: 100%;
    margin: 32px 0 32px;
  }
}
