.intro__list {
  list-style: none;
  max-width: 690px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 33px 0 0;
  padding: 0;
}

@media (max-width: 767px) {
  .intro__list {
    width: 100%;
  }
}
