.place__paragraph {
  grid-area: paragraph;
  width: 484px;
  min-height: 116px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 48px 0 0;
  padding: 0;
  vertical-align: top;
  gap: 26px;
}

.place__paragraph:nth-child(2) {
  margin-top: 26px;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .place__paragraph {
    max-width: 456px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .place__paragraph {
    font-size: 16px;
    max-width: 352px;
  }
}

@media (max-width: 768px) {
  .place__paragraph {
    padding: 0 16px 0;
    margin: 0;
  }
}

