.place__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

@media (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
  }
}

