.cover {
  max-width: 1184px;
  aspect-ratio: 1184 / 740;
  width: 100%;
}

@media (max-width: 1279px) {
  .cover {
    margin: 92px auto 0;
  }
}

@media (max-width: 1023px) {
  .cover {
    margin: 90px 0 0;
  }
}

@media (max-width: 767px) {
  .cover {
    margin: 66px 0 0;
  }
}
