.cover__title {
  width: 560px;
  min-height: 70px;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  z-index: 1;
  text-decoration: none;
}

@media (max-width: 768px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
  }
}
